USE [QLDSV_TC]
GO
/****** Object:  User [GV01]    Script Date: 12/21/2021 10:54:18 PM ******/
CREATE USER [GV01] FOR LOGIN [Liem] WITH DEFAULT_SCHEMA=[GV01]
GO
/****** Object:  User [HTKN]    Script Date: 12/21/2021 10:54:18 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_3C8748695A0045579FF3CE07F500F29C]    Script Date: 12/21/2021 10:54:18 PM ******/
CREATE ROLE [MSmerge_3C8748695A0045579FF3CE07F500F29C]
GO
/****** Object:  DatabaseRole [MSmerge_4557BBF1020C4FE0AC3F4F6806EC5A7C]    Script Date: 12/21/2021 10:54:18 PM ******/
CREATE ROLE [MSmerge_4557BBF1020C4FE0AC3F4F6806EC5A7C]
GO
/****** Object:  DatabaseRole [MSmerge_EF9F7DE3AD374FEBA5D43D67C0387A54]    Script Date: 12/21/2021 10:54:18 PM ******/
CREATE ROLE [MSmerge_EF9F7DE3AD374FEBA5D43D67C0387A54]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 12/21/2021 10:54:18 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [GV01]
GO
ALTER ROLE [MSmerge_EF9F7DE3AD374FEBA5D43D67C0387A54] ADD MEMBER [GV01]
GO
ALTER ROLE [MSmerge_3C8748695A0045579FF3CE07F500F29C] ADD MEMBER [GV01]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_3C8748695A0045579FF3CE07F500F29C]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_4557BBF1020C4FE0AC3F4F6806EC5A7C]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_EF9F7DE3AD374FEBA5D43D67C0387A54]
GO
/****** Object:  Schema [GV01]    Script Date: 12/21/2021 10:54:19 PM ******/
CREATE SCHEMA [GV01]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 12/21/2021 10:54:19 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_DANGKY]    Script Date: 12/21/2021 10:54:19 PM ******/
CREATE TYPE [dbo].[TYPE_DANGKY] AS TABLE(
	[MALTC] [int] NULL,
	[MASV] [nchar](10) NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [int] NULL,
	[DIEM_CK] [int] NULL
)
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](10) NULL,
	[HOCVI] [nvarchar](20) NULL,
	[HOCHAM] [nvarchar](20) NULL,
	[CHUYENMON] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_GETDSGV]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_GETDSGV]
AS
SELECT        MAGV, HO + ' ' + TEN AS N'HO TEN'
FROM            dbo.GIANGVIEN
WHERE        NOT EXISTS
                             ((SELECT        name
                                 FROM            sys.sysusers
                                 WHERE        name = MAGV)
                         UNION
                         (SELECT        name
                          FROM            LINK1.QLDSV_TC.sys.sysusers
                          WHERE        name = MAGV)
						  UNION
						  (SELECT name
						  FROM LINK2.QLDSV_TC.sys.sysusers
						  WHERE name = MAGV))
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT  TENCN=PUBS.description, TENSERVER= subscriber_server
   FROM dbo.sysmergepublications PUBS,  dbo.sysmergesubscriptions SUBS
   WHERE PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server

GO
/****** Object:  Table [dbo].[CT_DONGHOCPHI]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DONGHOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[NGAYDONG] [date] NOT NULL,
	[SOTIENDONG] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CT_DONGHOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[NGAYDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MALTC] [int] NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL,
	[HUYDANGKY] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[HOCPHI] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[KHOAHOC] [nchar](9) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPTINCHI]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPTINCHI](
	[MALTC] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[NHOM] [int] NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[SOSVTOITHIEU] [int] NOT NULL,
	[HUYLOP] [bit] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOPTINCHI] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[SOTIET_LT] [int] NOT NULL,
	[SOTIET_TH] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [bit] NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[MALOP] [nchar](10) NOT NULL,
	[DANGHIHOC] [bit] NOT NULL,
	[PASSWORD] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CT_DONGHOCPHI] ([MASV], [NIENKHOA], [HOCKY], [NGAYDONG], [SOTIENDONG], [rowguid]) VALUES (N'N15DCCN001', N'2021-2022', 1, CAST(N'2021-11-22' AS Date), 5000000, N'14c175d2-684b-ec11-875d-b0c090485d08')
INSERT [dbo].[CT_DONGHOCPHI] ([MASV], [NIENKHOA], [HOCKY], [NGAYDONG], [SOTIENDONG], [rowguid]) VALUES (N'N15DCCN001', N'2021-2022', 1, CAST(N'2021-11-23' AS Date), 4000000, N'997c30f9-684b-ec11-875d-b0c090485d08')
INSERT [dbo].[CT_DONGHOCPHI] ([MASV], [NIENKHOA], [HOCKY], [NGAYDONG], [SOTIENDONG], [rowguid]) VALUES (N'n15dccn001', N'2021-2022', 1, CAST(N'2021-11-29' AS Date), 1000000, N'b14076f1-fa50-ec11-875f-b0c090485d08')
GO
INSERT [dbo].[DANGKY] ([MALTC], [MASV], [DIEM_CC], [DIEM_GK], [DIEM_CK], [HUYDANGKY], [rowguid]) VALUES (1, N'n15dccn001', NULL, NULL, NULL, 0, N'f51e2c0f-3162-ec11-8764-b0c090485d08')
INSERT [dbo].[DANGKY] ([MALTC], [MASV], [DIEM_CC], [DIEM_GK], [DIEM_CK], [HUYDANGKY], [rowguid]) VALUES (1, N'n15dccn002', NULL, NULL, NULL, 0, N'b6aa7d29-3162-ec11-8764-b0c090485d08')
INSERT [dbo].[DANGKY] ([MALTC], [MASV], [DIEM_CC], [DIEM_GK], [DIEM_CK], [HUYDANGKY], [rowguid]) VALUES (11, N'n15dccn001', 1, 2, 4, 0, N'ff0d9028-f94c-ec11-875e-b0c090485d08')
GO
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON], [rowguid]) VALUES (N'GV01      ', N'CNTT      ', N'Phan Thanh', N'Liêm', N'Thạc sĩ', N'', N'Phần mềm', N'6e30cea8-da1a-ec11-8751-b0c090485d08')
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON], [rowguid]) VALUES (N'GV02      ', N'CNTT      ', N'Lê Thành', N'Trì', N'Thạc sĩ', N'', N'Mạng máy tính', N'6f30cea8-da1a-ec11-8751-b0c090485d08')
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON], [rowguid]) VALUES (N'GV03      ', N'CNTT      ', N'Huỳnh Trung', N'Trụ', N'Thạc sĩ', N'', N'Web, Phần mềm', N'7030cea8-da1a-ec11-8751-b0c090485d08')
GO
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [rowguid]) VALUES (N'N15DCCN001', N'2021-2022', 1, 10000000, N'9b479bbe-684b-ec11-875d-b0c090485d08')
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [rowguid]) VALUES (N'N15DCCN001', N'2021-2022', 2, 1000000, N'ff45ee60-6f4b-ec11-875d-b0c090485d08')
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [rowguid]) VALUES (N'N15DCCN001', N'2021-2022', 3, 10000000, N'cf882108-7d4b-ec11-875d-b0c090485d08')
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [rowguid]) VALUES (N'CNTT      ', N'Công nghệ thông tin', N'6c30cea8-da1a-ec11-8751-b0c090485d08')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [rowguid]) VALUES (N'VT        ', N'Viễn Thông', N'6d30cea8-da1a-ec11-8751-b0c090485d08')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA], [rowguid]) VALUES (N'D15CQCP01 ', N'Công nghệ phần mềm 2015', N'2015-2019', N'CNTT      ', N'7330cea8-da1a-ec11-8751-b0c090485d08')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA], [rowguid]) VALUES (N'D15CQIS01 ', N'Hệ thống thông tin 2015', N'2015-2019', N'CNTT      ', N'7430cea8-da1a-ec11-8751-b0c090485d08')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA], [rowguid]) VALUES (N'D15CQMT01 ', N'Mạng máy tính 2015', N'2015-2019', N'CNTT      ', N'7530cea8-da1a-ec11-8751-b0c090485d08')
GO
SET IDENTITY_INSERT [dbo].[LOPTINCHI] ON 

INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [MAKHOA], [SOSVTOITHIEU], [HUYLOP], [rowguid]) VALUES (1, N'2021-2022', 2, N'CTDL      ', 3, N'GV02      ', N'CNTT      ', 11, 0, N'97e9eec2-412b-ec11-8753-b0c090485d08')
INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [MAKHOA], [SOSVTOITHIEU], [HUYLOP], [rowguid]) VALUES (3, N'2021-2022', 1, N'KTDH      ', 2, N'GV02      ', N'VT        ', 10, 0, N'9be9eec2-412b-ec11-8753-b0c090485d08')
INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [MAKHOA], [SOSVTOITHIEU], [HUYLOP], [rowguid]) VALUES (6, N'2021-2022', 1, N'XLA       ', 2, N'GV02      ', N'VT        ', 10, 0, N'9ce9eec2-412b-ec11-8753-b0c090485d08')
SET IDENTITY_INSERT [dbo].[LOPTINCHI] OFF
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH], [rowguid]) VALUES (N'AV        ', N'Anh văn', 45, 0, N'90e9eec2-412b-ec11-8753-b0c090485d08')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH], [rowguid]) VALUES (N'CTDL      ', N'Cấu trúc dữ liệu & Giải thuật', 40, 5, N'91e9eec2-412b-ec11-8753-b0c090485d08')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH], [rowguid]) VALUES (N'HDH       ', N'Hệ điều hành', 45, 0, N'92e9eec2-412b-ec11-8753-b0c090485d08')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD], [rowguid]) VALUES (N'N15DCCN001', N'Võ Văn', N'Đức', 0, N'Quận 9', CAST(N'1997-02-08' AS Date), N'D15CQCP01 ', 0, N'', N'7b30cea8-da1a-ec11-8751-b0c090485d08')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD], [rowguid]) VALUES (N'N15DCCN002', N'Lê Hữu', N'Tài', 0, N'Thủ Đức', CAST(N'1997-03-07' AS Date), N'D15CQCP01 ', 0, N'', N'7c30cea8-da1a-ec11-8751-b0c090485d08')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD], [rowguid]) VALUES (N'N15DCCN003', N'Hoàng Thanh', N'Bùi', 0, N'Quận 9', CAST(N'1997-08-07' AS Date), N'D15CQCP01 ', 0, N'', N'7d30cea8-da1a-ec11-8751-b0c090485d08')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_DANGKY]    Script Date: 12/21/2021 10:54:19 PM ******/
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [UK_DANGKY] UNIQUE NONCLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_LOPTINCHI]    Script Date: 12/21/2021 10:54:19 PM ******/
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [UK_LOPTINCHI] UNIQUE NONCLUSTERED 
(
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[MAMH] ASC,
	[NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [DF_CT_DONGHOCPHI_NGAYDONG]  DEFAULT (getdate()) FOR [NGAYDONG]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_778DC89A2C48462E8EA086AA88D56B95]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [MSmerge_df_rowguid_7B6E260D01CE43E99391CB96FB713BF2]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIANGVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_2B47FFFE7C404A29B241EC88B8D2B5DF]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)) FOR [HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)) FOR [HOCPHI]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_B9328F2591204D5899EF2D7C48B6A853]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_46056EB38D9A4036BDF3FAD04A773B13]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [MSmerge_df_rowguid_F40EC050BB2948B69C3EE1017FA73D74]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [DF_LOPTINCHI_HUYLOP]  DEFAULT ('false') FOR [HUYLOP]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [MSmerge_df_rowguid_030DDCB383C649E28CE769FDFB9F06EB]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_67650F049E51406C9CAF8A6396F17FA9]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_PHAI]  DEFAULT ('false') FOR [PHAI]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_DANGHIHOC]  DEFAULT ('false') FOR [DANGHIHOC]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_PASSWORD]  DEFAULT ('') FOR [PASSWORD]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_6FCD83DCBE434E39B27B00833DC00547]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI] FOREIGN KEY([MASV], [NIENKHOA], [HOCKY])
REFERENCES [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY])
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_CTLTC_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_CTLTC_SINHVIEN]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_LOPTINCHI] FOREIGN KEY([MALTC])
REFERENCES [dbo].[LOPTINCHI] ([MALTC])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_LOPTINCHI]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_GIANGVIEN]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_MONHOC]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_SOTIENDONG] CHECK  (([SOTIENDONG]>(0)))
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [CK_SOTIENDONG]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCKY] CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(4)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCPHI] CHECK  (([HOCPHI]>(0)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCPHI]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_SOSVTOITHIEU] CHECK  (([SOSVTOITHIEU]>(0)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_SOSVTOITHIEU]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_1D45EEDA_E7EA_4312_ADA8_45639FD9DB53] CHECK NOT FOR REPLICATION (([MALTC]>(7) AND [MALTC]<=(1007) OR [MALTC]>(1007) AND [MALTC]<=(2007)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [repl_identity_range_1D45EEDA_E7EA_4312_ADA8_45639FD9DB53]
GO
/****** Object:  StoredProcedure [dbo].[sp_Dangnhap]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Dangnhap]
@TENLOGIN NVARCHAR(50)
AS 
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER = NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)

SELECT USERNAME = @TENUSER, HOTEN =(SELECT HO+' '+TEN FROM GIANGVIEN WHERE MAGV = @TENUSER), TENNHOM = NAME FROM sys.sysusers
	WHERE UID = (SELECT GROUPUID
					FROM SYS.SYSMEMBERS WHERE MEMBERUID = (SELECT UID FROM sys.sysusers WHERE NAME = @TENUSER))
GO
/****** Object:  StoredProcedure [dbo].[sp_dangnhap_sv]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_dangnhap_sv] 
@MASINHVIEN NVARCHAR(50)
AS

SELECT HOTEN =(HO+ ' ' +TEN) FROM SINHVIEN WHERE MASV = @MASINHVIEN
GO
/****** Object:  StoredProcedure [dbo].[SP_HUY_DKY_MONHOC]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_HUY_DKY_MONHOC] 
@MALTC INT,
@MASV NCHAR(10)

AS
BEGIN
	UPDATE DANGKY SET HUYDANGKY = 'true' WHERE MALTC = @MALTC AND MASV = @MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CT_DHP_SV]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_INSERT_CT_DHP_SV] 
--DECLARE
@MASV NCHAR(10), @NIENKHOA NCHAR(9), @HOCKY INT, @SOTIENDONG  INT
--SET @MASV = 'N15DCCN001'
--SET @NIENKHOA = '2021-2022'
--SET @HOCKY = '2'
--SET @SOTIENDONG = '500000'
AS
INSERT INTO DBO.CT_DONGHOCPHI(MASV, NIENKHOA, HOCKY, NGAYDONG, SOTIENDONG) VALUES (@MASV, @NIENKHOA, @HOCKY, GETDATE(), @SOTIENDONG)
							
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DKY_MONHOC]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--drop Procedure [dbo].[SP_INSERT_DIEM]
--go

--SET QUOTED_IDENTIFIER ON
--go
--SET ANSI_NULLS ON
--go

CREATE PROC [dbo].[SP_INSERT_DKY_MONHOC]

@MALTC INT,
@MASV NVARCHAR(12)
AS
BEGIN  
            IF EXISTS (SELECT HUYDANGKY FROM DANGKY WHERE MASV = @MASV AND MALTC = @MALTC)  
                BEGIN  
					UPDATE DANGKY SET HUYDANGKY = 'false' WHERE MALTC = @MALTC AND MASV = @MASV
                END  
            ELSE  
                BEGIN
					
                    INSERT INTO DANGKY(MALTC, MASV, HUYDANGKY)  
                    VALUES (@MALTC, @MASV, 'false')  
					
                END   
END  


GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_HOCPHI_SV]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_INSERT_HOCPHI_SV] 

@MASV NCHAR(10), @NIENKHOA NCHAR(9), @HOCKY INT, @HOCPHI INT

AS
BEGIN
IF EXISTS(SELECT 1 FROM HOCPHI WHERE MASV = @MASV AND NIENKHOA = @NIENKHOA AND HOCKY = @HOCKY)
	
	print('Sinh vien da ton tai')
	
ELSE
	BEGIN
	INSERT INTO HOCPHI(MASV, NIENKHOA, HOCKY, HOCPHI) VALUES (@MASV, @NIENKHOA, @HOCKY, @HOCPHI)
	END
END
							
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_MH_KHI_DKY]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_MH_KHI_DKY]
@MASV  NCHAR(10), @MAMH NCHAR(10), @NIENKHOA NCHAR(9), @HOCKY INT
AS 
IF EXISTS (SELECT 1 FROM (SELECT MALTC FROM DANGKY WHERE MASV = @MASV AND HUYDANGKY = 'false') DKY,
						(SELECT MALTC FROM LOPTINCHI WHERE MAMH = @MAMH AND NIENKHOA = @NIENKHOA AND HOCKY = @HOCKY) LTC
					WHERE DKY.MALTC = LTC.MALTC)
BEGIN
	return 1
END
ELSE
BEGIN
	return 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ktLopTinChi]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ktLopTinChi] 
	@NIENKHOA NCHAR(9),
	@HOCKY INT,
	@MAMH NCHAR(10),
	@NHOM INT

AS
BEGIN
	IF EXISTS (SELECT NHOM FROM QLDSV_TC.dbo.LOPTINCHI LTC WHERE LTC.NIENKHOA = @NIENKHOA AND 
																LTC.HOCKY = @HOCKY AND LTC.MAMH = @MAMH AND LTC.NHOM = @NHOM  )
	BEGIN 
		return 1
	END
	IF EXISTS (SELECT NHOM FROM LINK0.QLDSV_TC.dbo.LOPTINCHI LTC WHERE LTC.NIENKHOA = @NIENKHOA AND 
																LTC.HOCKY = @HOCKY AND LTC.MAMH = @MAMH AND LTC.NHOM = @NHOM)
	BEGIN 
		return 1
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_CT_DHP_SV]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_LAY_DS_CT_DHP_SV] 
--DECLARE
@MASV NCHAR(10), @NIENKHOA NCHAR(9), @HOCKY INT
--SET @MASV = 'N15DCCN001'
--SET @NIENKHOA = '2021-2022'
--SET @HOCKY = '1'
AS
SELECT NGAYDONG, SOTIENDONG FROM CT_DONGHOCPHI WHERE MASV = @MASV AND NIENKHOA =@NIENKHOA AND HOCKY = @HOCKY
							
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_HOCPHI_1SV]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_LAY_DS_HOCPHI_1SV] 
@MASV NCHAR(10)

AS

SELECT HP.NIENKHOA, HP.HOCKY, HOCPHI,(SUM((case when CTDHP.SOTIENDONG IS NULL THEN 0 ELSE CTDHP.SOTIENDONG END)))SOTIENDADONG, 
		(HP.HOCPHI - (SUM((case when CTDHP.SOTIENDONG IS NULL THEN 0 ELSE CTDHP.SOTIENDONG END))))SOTIENCANDONG
FROM (SELECT MASV, NIENKHOA, HOCKY, HOCPHI FROM HOCPHI WHERE HOCPHI.MASV = @MASV) HP
 LEFT JOIN
	(SELECT MASV,NIENKHOA, HOCKY, SOTIENDONG FROM CT_DONGHOCPHI CTDHP WHERE CTDHP.MASV = @MASV) CTDHP
ON  HP.NIENKHOA = CTDHP.NIENKHOA AND HP.MASV = CTDHP.MASV AND HP.HOCKY = CTDHP.HOCKY
GROUP BY HP.NIENKHOA, HP.HOCKY, HOCPHI


							
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_LTC]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DS_LTC]
@NK NVARCHAR(10), @HK INT
AS 
BEGIN 
	SELECT MALTC, TENMH, NHOM, HOTEN=HO+' '+TEN
	FROM (SELECT MALTC, MAMH, NHOM, MAGV
			FROM LOPTINCHI
			WHERE NIENKHOA=@NK AND HOCKY=@HK AND HUYLOP='FALSE') LTC,
			MONHOC MH, GIANGVIEN GV
	WHERE LTC.MAMH=MH.MAMH AND LTC.MAGV=GV.MAGV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_MONHOC_DADKY_NKHK]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LAY_DS_MONHOC_DADKY_NKHK]
@MASV NCHAR(10),@NIENKHOA NCHAR(9), @HOCKY INT
 
AS

SELECT LTC.MALTC, MH.MAMH, MH.TENMH, GV.TENGV, LTC.NHOM, DK.HUYDANGKY 
FROM 
	(SELECT MALTC, MAMH, MAGV, NHOM
	FROM LOPTINCHI LTC WHERE LTC.NIENKHOA = @NIENKHOA AND LTC.HOCKY = @HOCKY) LTC,
	(SELECT MALTC, MASV, HUYDANGKY FROM DANGKY DK WHERE DK.MASV = @MASV AND DK.HUYDANGKY = 'false') DK,
	(SELECT MAGV, TENGV = (HO+ ' '+TEN) FROM GIANGVIEN) GV,
	(SELECT MAMH, TENMH FROM MONHOC) MH
WHERE LTC.MALTC = DK.MALTC AND LTC.MAGV = GV.MAGV AND LTC.MAMH = MH.MAMH
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_MONHOC_NKHK]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LAY_DS_MONHOC_NKHK]
@NIENKHOA NCHAR(9), @HOCKY INT

AS

SELECT DSLTC.MALTC, DSLTC.MAMH, DSLTC.TENMH, DSLTC.TENGV, DSLTC.NHOM, SOSV = (SUM(case when SLSV.HUYDANGKY = 1 OR SLSV.HUYDANGKY IS NULL THEN 0 ELSE 1 END))FROM
	(SELECT LTC.MAMH, MH.TENMH,LTC.NHOM, GV.TENGV, LTC.MALTC
	 FROM  (SELECT MAMH,MAGV, NHOM, MALTC 
			FROM LOPTINCHI LTC
			WHERE LTC.NIENKHOA = @NIENKHOA AND LTC.HOCKY = @HOCKY AND HUYLOP = '0') LTC, 
			(SELECT MAMH, TENMH 
			FROM MONHOC MH ) MH,
			(SELECT MAGV, (HO+' '+TEN)TENGV 
			FROM GIANGVIEN) GV
		  
    WHERE  LTC.MAMH = MH.MAMH AND LTC.MAGV = GV.MAGV ) DSLTC
	LEFT JOIN
	(SELECT DISTINCT MALTC, MASV, HUYDANGKY 
							FROM DANGKY ) SLSV  ON SLSV.MALTC = DSLTC.MALTC
GROUP BY DSLTC.MALTC, DSLTC.MAMH, DSLTC.TENMH, DSLTC.TENGV, DSLTC.NHOM


							
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DSSV_DANGKY]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAY_DSSV_DANGKY]
@MALTC INT

AS
BEGIN 
	SELECT	SV.MASV, HOTEN=HO+' '+TEN, DIEM_CC, DIEM_GK, DIEM_CK
	FROM (SELECT MASV, DIEM_CC, DIEM_GK, DIEM_CK
			FROM DANGKY 
			WHERE MALTC= @MALTC AND HUYDANGKY = 'FALSE') DSDK,
			SINHVIEN SV
	WHERE DSDK.MASV = SV.MASV
	ORDER BY SV.MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_HOTEN_SV]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAY_HOTEN_SV] 
@MASV NCHAR(10)

AS
SELECT (SV.HO+' '+SV.TEN)HOTEN, SV.MALOP FROM SINHVIEN SV WHERE SV.MASV = @MASV
							
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DIEMTONGKET]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_DIEMTONGKET]
--DECLARE
@MALOP NCHAR(10)
--SET @MALOP = 'D15CQCP01'
AS

SELECT MASVHT = (SV.MASV+'-'+HO+' '+TEN), MH.TENMH, DIEM_CK 
FROM (SELECT MASV, HO, TEN FROM SINHVIEN SV WHERE SV.MALOP = @MALOP ) SV, 
	  (SELECT MALTC,DIEM_CK, MASV FROM DANGKY WHERE HUYDANGKY = 'false') DK, LOPTINCHI LTC, MONHOC MH
WHERE SV.MASV = DK.MASV AND LTC.MALTC = DK.MALTC AND MH.MAMH = LTC.MAMH
	ORDER BY SV.MASV
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DS_SV_DK_LTC]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_DS_SV_DK_LTC]
@NIENKHOA NCHAR(9), @HOCKY INT, @MAMH NCHAR(9), @NHOM INT
AS

SELECT SV.MASV, HO, TEN, PHAI, MALOP 
FROM (SELECT MALTC FROM LOPTINCHI LTC WHERE LTC.NIENKHOA = @NIENKHOA AND LTC.HOCKY = @HOCKY AND LTC.MAMH = @MAMH AND LTC.NHOM = @NHOM) LTC,
	DANGKY DK, SINHVIEN SV WHERE  LTC.MALTC = DK.MALTC AND DK.MASV = SV.MASV
	ORDER BY TEN,HO
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_PHIEUDIEM]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_PHIEUDIEM]
--DECLARE
@MASV NCHAR(10)
--SET @MASV = 'N15DCCN001'
AS

SELECT MH.TENMH, DIEM_CK
FROM (SELECT MALTC, DIEM_CK FROM DANGKY DK WHERE DK.MASV = @MASV AND DK.HUYDANGKY = 'FALSE')DK, LOPTINCHI LTC, MONHOC MH
WHERE  LTC.MALTC = DK.MALTC AND MH.MAMH = LTC.MAMH  
	ORDER BY TENMH
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoTaiKhoan]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[sp_TaoTaiKhoan]
	@LGNAME VARCHAR(50),
	@PASS VARCHAR(50),
	@USERNAME VARCHAR(50),
	@ROLE VARCHAR(50)
AS
BEGIN
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QLDSV_TC'                     

  IF (@RET =1)  -- LOGIN NAME BI TRUNG
     RETURN 1

  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  EXEC sp_addrolemember @ROLE, @USERNAME

  IF @ROLE= 'PGV' 
	BEGIN
		EXEC sp_addsrvrolemember @LGNAME, 'sysadmin'
		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
	END
	IF @ROLE= 'KHOA' 
	BEGIN
		EXEC sp_addsrvrolemember @LGNAME, 'sysadmin'
		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
	END

  IF @ROLE= 'PKT'
	BEGIN 
		EXEC sp_addsrvrolemember @LGNAME, 'sysadmin'
		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
	END
  IF @ROLE= 'SV'
	BEGIN  
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
	END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_DIEM]    Script Date: 12/21/2021 10:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_DIEM]
@DIEMTHI TYPE_DANGKY READONLY 
AS
BEGIN 
	MERGE INTO DANGKY AS Target
	USING (SELECT MALTC, MASV, DIEM_CC, DIEM_GK, DIEM_CK FROM @DIEMTHI) AS Source
	ON Target.MALTC=Source.MALTC AND Target.MASV=Source.MASV
	WHEN MATCHED THEN
		UPDATE SET Target.DIEM_CC=Source.DIEM_CC,Target.DIEM_GK=Source.DIEM_GK,
					Target.DIEM_CK=Source.DIEM_CK
	WHEN NOT MATCHED THEN 
		INSERT (MALTC, MASV, DIEM_CC, DIEM_GK, DIEM_CK)
		VALUES (Source.MALTC, Source.MASV, Source.DIEM_CC, Source.DIEM_GK, Source.DIEM_CK);
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_GETDSGV'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_GETDSGV'
GO
